<app-header [title]="'action-sheet'" [colors]="'primary'">
</app-header>

<ion-content [fullscreen]="true">
    action-sheet page

    <ion-button (click)="onClickASC()" expand="block" shape="round">Open (Controller)</ion-button>


    <ion-button id="open-action-sheet" >Open (Inline)</ion-button>
    <ion-action-sheet 
    trigger="open-action-sheet" 
    header="Eliminar Registro" 
    subHeader="Esta accion no se puede deshacer"
    backdropDismiss="true"
    [buttons]='buttons4ActionSheet'
    (didDismiss)="onClickASI($event)"
    >
    </ion-action-sheet>
</ion-content>